<div class="page-header">
  <h3>Vignette #<%= @vignette.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Content</dt>
      <dd><%= @vignette.content %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/vignettes" class="btn btn-primary">
        Back
      </a>
      <a href="/vignettes/<%= @vignette.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_vignette/<%= @vignette.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
